<!--Navagation Bar - Primary -->
<div ng-include="'/1.1.1/html/components/navbar_user.html'"></div>

<div class="layout_main">

    <div class="layout_wrapper">

        <div class="layout_full">

            <div class="layout_full_title">View User</div>

            <div class="layout_full_text">Public details of a selected user including that user's skills and proficiency</div>

            <div style="clear:both;margin-bottom:20px;"></div>


            <div style="width:500px;">
                {{viewuser.firstName}} {{viewuser.lastName}}&nbsp;[{{viewuser.userName}}]
                <div style="height:5px;"></div>  
                <span style="font-size:14px;">Reports to: {{viewuser.reportsTo}}</span>
                
                <h3>Skills</h3>
                <!--Skill Table Grid-->
                <table class="user_skill_table">
                    <tr>
                        <td class="user_skill_th">Skill Name</td>
                        <td class="user_skill_th">Proficiency Rating</td>
                        <td class="user_skill_th">Created</td>
                        <td class="user_skill_th">Modified</td>
                    </tr>

                    <tr ng-repeat="(key,value) in userskills" ng-style="ratingstyle(value)">
                        <td class="user_skill_tr">{{value.name}}</td>
                        <td class="user_skill_tr">{{value.rating}}</td>
                        <td class="user_skill_tr">{{value.created | date:"MM/dd/yyyy"}}</td>
                        <td class="user_skill_tr">{{value.modified | date:"MM/dd/yyyy"}}</td>
                    </tr>

                </table>
                
                <div style="height:20px;"></div>

                <h3>Wishlists</h3>
                <!--Wishlist Table Grid-->
                <table class="user_skill_table">
                    <tr>
                        <td class="user_skill_th">Skill Name</td>
                        <td class="user_skill_th">Proficiency</td>
                        <td class="user_skill_th">Priority</td>
                        <td class="user_skill_th">Created</td>
                        <td class="user_skill_th">Modified</td>
                    </tr>

                    <tr ng-repeat="(key,value) in userwishlists" ng-style="ratingstyle(value)">
                        <td class="user_skill_tr">{{value.name}}</td>
                        <td class="user_skill_tr">{{value.rating}}</td>
                        <td class="user_skill_tr">{{value.priority}}</td>                        
                        <td class="user_skill_tr">{{value.created | date:"MM/dd/yyyy"}}</td>
                        <td class="user_skill_tr">{{value.modified | date:"MM/dd/yyyy"}}</td>
                    </tr>

                </table>

            </div>

            <div style="clear: both"></div>
        </div>

    </div>

    <div style="clear:both; height:50px;"></div>

</div>



<!--Footer-->
<div ng-include="'/1.1.1/html/components/footer.html'"></div>
