<!--Navagation Bar - Primary -->
<div ng-include="'/1.1.1/html/components/navbar_admin.html'"></div>

<div class="layout_main_admin">
    <div class="layout_wrapper">
        <div class="layout_full">
            <div class="layout_full_title">Add Position Skills</div>
            <div class="layout_full_text">Add new skills to a position from the skill catalog or search for new skills directly</div>
            <div style="clear: both;"></div>

            <md-tabs md-dynamic-height>

                <md-tab label="Catalog">

                    <div class="layout_full">

                        <div style="clear: both; height:20px;"></div>

                        <!--SKILL AREA LIST-->
                        <div class="layout_catalog_left">

                            <div class="layout_catalog_title">
                                <span>Areas</span>
                            </div>

                            <!--Display Areas-->
                            <div style="overflow-y: scroll; height:400px;">
                                
                            <div style="text-align:center;" ng-show="areasloading">

                                <div class="spinner">
                                    <div class="rect1"></div>
                                    <div class="rect2"></div>
                                    <div class="rect3"></div>
                                    <div class="rect4"></div>
                                    <div class="rect5"></div>
                                </div>

                            </div>

                                <div ng-repeat="area in areas | orderBy : 'name'" ng-hide="areasloading">

                                    <div ng-switch="area.id == admin_catalog_state.currentArea && area.type == admin_catalog_state.currentAreaType">

                                        <!--Display Selected Item-->
                                        <div ng-switch-when="true" class="layout_catalog_itemselected">

                                            <a ng-click="selectArea(area.id, area.type)">

                                                <div class="layout_catalog_item_title">{{ area.name }}</div>
                                            </a>

                                            <div class="layout_catalog_item_description">{{ area.description }}</div>

                                            <div style="text-align:right;margin-top:7px;">

                                                <!-- Switch Edit/Delete controls based on type -->
                                                <div ng-switch="area.type">

                                                    <div ng-switch-when="master">

                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                        <!--Display Non-Selected Item-->
                                        <div ng-switch-default class="layout_catalog_item">
                                            <a ng-click="selectArea(area.id, area.type)">
                                                <div class="layout_catalog_item_title">{{ area.name }}</div>
                                            </a>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>

                        <!--SKILL CATAGORY LIST-->
                        <div class="layout_catalog_center">

                            <div class="layout_catalog_title">
                                <span>Categories</span>
                            </div>

                            <!--Display Categories-->
                            <div style="overflow-y: scroll; height:400px;">
                                
                            <div style="text-align:center;" ng-show="categoriesloading">

                                <div class="spinner">
                                    <div class="rect1"></div>
                                    <div class="rect2"></div>
                                    <div class="rect3"></div>
                                    <div class="rect4"></div>
                                    <div class="rect5"></div>
                                </div>

                            </div>

                                <div ng-repeat="category in categories" ng-hide="categoriesloading">

                                    <div ng-switch="category.id == admin_catalog_state.currentCategory && category.type == admin_catalog_state.currentCategoryType">

                                        <!--Display Selected Item-->
                                        <div ng-switch-when="true" class="layout_catalog_itemselected">

                                            <a ng-click="selectcategory(category.id, category.type)">
                                                <div class="layout_catalog_item_title">{{ category.name }}</div>
                                            </a>

                                            <div class="layout_catalog_item_description">{{ category.description }}</div>

                                            <div style="text-align:right;margin-top:7px;">

                                                <!-- Switch Edit/Delete controls based on type -->
                                                <div ng-switch="category.type">
                                                    <div ng-switch-when="master">

                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                        <!--Display Non-Selected Item-->
                                        <div ng-switch-default class="layout_catalog_item">
                                            <a ng-click="selectCategory(category.id, category.type)">
                                                <div class="layout_catalog_item_title">{{ category.name }}</div>
                                            </a>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <!--SKILL LIST-->
                        <div class="layout_catalog_right">

                            <div class="layout_catalog_title">
                                <span>Skills</span>
                            </div>

                            <!--Display Skills-->
                            <div style="overflow-y: scroll; height:400px;">
                                
                            <div style="text-align:center;" ng-show="skillsloading">

                                <div class="spinner">
                                    <div class="rect1"></div>
                                    <div class="rect2"></div>
                                    <div class="rect3"></div>
                                    <div class="rect4"></div>
                                    <div class="rect5"></div>
                                </div>

                            </div>

                                <div ng-repeat="skill in skills" ng-hide="skillsloading">

                                    <div ng-switch="skill.id == admin_catalog_state.currentSkill && skill.type == admin_catalog_state.currentSkillType">

                                        <!--Display Selected Item-->
                                        <div ng-switch-when="true" class="layout_catalog_itemselected">

                                            <a ng-click="selectSkill(skill.id, skill.type)">
                                                <div class="layout_catalog_item_title">{{ skill.name }}</div>
                                            </a>

                                            <div class="layout_catalog_item_description">{{ skill.description }}</div>

                                            <div style="text-align:right;margin-top:7px;">

                                                <!-- Switch Edit/Delete controls based on type -->
                                                <div ng-switch="skill.type">
                                                    <div ng-switch-when="master">
                                                        <a href="/adminaddpostionskill/{{position.id}}/{{skill.id}}/{{skill.type}}/">
                                                            <span class="user_catalog_itembutton">ADD SKILL</span>
                                                        </a>
                                                    </div>
                                                    <div ng-switch-when="custom">
                                                        <a href="/adminaddpostionskill/{{position.id}}/{{skill.id}}/{{skill.type}}/">
                                                            <span class="user_catalog_itembutton">ADD SKILL</span>
                                                        </a>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                        <!--Display Non-Selected Item-->
                                        <div ng-switch-default class="layout_catalog_item">
                                            <a ng-click="selectSkill(skill.id, skill.type)">
                                                <div class="layout_catalog_item_title">{{ skill.name }}</div>
                                            </a>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div style="clear: both"></div>


                    </div>

                </md-tab>

                <md-tab label="Search">

                    <div style="height:30px;"></div>

                    <input ng-model="searchtext" placeholder="Search...">
                    
                    <div style="height:20px;"></div>

                    <div ng-show="searchtext.length > 1">

                        <div ng-repeat="(key,value) in searchskills | filter:searchtext">

                            <div class="user_skill_searchresult">
                                <div style="float:right;">
                                    <a href="/adminaddpostionskill/{{position.id}}/{{value.id}}/{{value.type}}/">
                                        <span class="user_catalog_itembutton">ADD SKILL</span>
                                    </a>
                                </div>
                                <div class="user_skill_searchresult_title">{{ value.name }}</div>
                                <div class="user_skill_searchresult_description">{{ value.description }}</div>

                            </div>

                        </div>

                    </div>

                    <div style="height:10px;"></div>

                    <img src="/1.1.1/img/user-home/searchbanner.jpg" class="user_search_banner">
                </md-tab>

            </md-tabs>

            <div style="clear: both"></div>
        </div>
    </div>
    <div style="clear:both; height:50px;"></div>
</div>

<!--Footer-->
<div ng-include="'/1.1.1/html/components/footer.html'"></div>

